.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/**
 * Всякие заготовки
 */
.transition (@property: all, @duration: 0.25s, @function:linear, @delay:0s){
    -webkit-transition: @arguments;
    -moz-transition: @arguments;
    -o-transition: @arguments;
    transition: @arguments;
}
.box () {
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    }
.tr (){
    text-transform: uppercase
    }
.hvr () {
    .transition();
    border-bottom: 1px solid;
    border-color: initial;

    &:hover {
        border-bottom: 1px solid transparent;
    }
}
.hvr_trans () {
    .transition();
    border-bottom: 1px solid transparent;

    &:hover {
        border-color: initial;
    }
}
.hvr_none {
    border-bottom: none;
    border: none;

     &:hover {
        border-bottom: none;
        border: none;
    }
    span,
    a {
         border-bottom: none;
        border: none;

         &:hover {
            border-bottom: none;
            border: none;
        }
    }
}

/****** HVR  - 2 */
.hvr_trans_2 () {
    .transition();
    border-bottom: 1px solid transparent;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 0%;
        height: 1px;
        transition: width 0.15s 0.15s;
    }
    &:hover:after {
        width: 100%;
    }
}
@sprites: url('../image/sprite.png') no-repeat;
.virt_img () {
    content: "";
    background: @sprites;
    }

/****** other */
.wrap-color {
    background-color: #fff;
    box-shadow: 0 1px 1px 1px rgba(0,0,0,.2);
}
.gift-slider_home {
    padding-bottom: 20px;
}
.insets-wrap {
    .transition();
}
.main-container.commodities .main-content .tabs-wrap-category .insets-wrap {
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.main-container.commodities .main-content .tabs-wrap-category>ul .my-inset {
    top: 1px;
    position: relative;
    z-index: 1;
}
.slick-slider-comments {
    padding-bottom: 80px;
    padding-top: 20px;
    margin-bottom: 20px!important;
    background: #fff;
    .slick-dots {
        bottom: 35px!important;
    }
}

/****** tabs category */
.tabs-wrap-category_home {
    margin: 20px 0; 
}
.slick-slide {
    .btn-primary {
        opacity: 0;
    }
}
.product-card {
    .insets-wrap {
        min-height: inherit!important;
        height: inherit!important;
    }
}
.about-icon {
    i {
        width: 28px;
        height: 27px;
        float: left;
        position: relative;
        background: url(../image/sprite.png) no-repeat -890px -187px;
        display: block;
        margin-right: 10px;
    }
}
.but-up {
    position: fixed;
    bottom: 40px;
    right: 4px;
    width: 65px;
    height: 65px;
    cursor: pointer;
    .transition();
    background: url(../image/sprite.png) no-repeat -860px -20px;
    opacity: 0.5;
    
    &:hover {
        opacity: 1;
    }
}
.main-container .main-info .SEO-text p {
    line-height: 25px;
    color: #a5a2a2;
}
.main-container .main-content .brand-item .info__top__column .number {
    position: relative;
    top: -1px;
}
header .top-menu ul .first-level:after {
    content: " ";
    position: absolute;
    right: -10px;
    top: 8px;
    background: url(../image/sprite.png) no-repeat -264px -31px;
    width: 7px;
    height: 6px;
}
.main-container.commodities .catalog_item>a {
    font-size: 13px;
    .transition();
    &:after {
        top: 9px;
    }
    &:hover {
        text-shadow: 1px 1px 0 #000;
        text-decoration: none;
    }
    .hvr_trans();
}
.main-container .main-content .brands .title .brand-search input {
    padding: 0 5px 0;
    text-align: center;
}
header .search-field__input input {
    text-transform: lowercase;
    padding: 0 0 0 15px;
    font-weight: normal;
}

/* loader */
.loaded .loader-bg {display: block;opacity: .3;}
.loaded .progress-loading {display: block;z-index: 9999999;}

.loader-bg {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    z-index: 1042;
    overflow: hidden;
    position: fixed;
    background: #0b0b0b;
    opacity: .8;
    filter: alpha(opacity=80);
    display: none;
}
/****** slider */
.slick-list {
    padding: 0;
}
header .brands-names.brands-names-wooman {
    display: block;
}

/****** end other */

/* ====================================================
   resset
======================================================= */

/****** fields */
.form__field {
    width: 175px;
    height: 20px;
    border: 1px solid #d3d3d3;
    padding-left: 3px;
    box-shadow: inset -1px 1px 1px 0 rgba(0,0,0,.1);

    line-height: 20px;
    font-size: 11px;

    &._textarea {
        border: 1px solid #c7c7c7;
        width: 100%;
        height: 100%;
        resize: none;
    }
}

/****** buttons */
.button {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;

    width: 80px;
    height: 20px;
    margin-left: 10px;
    line-height: 20px;
    text-align: center;
    font-size: 10px;
    color: #fff;
    float: right;
    padding: 0;
    border-radius: 0;
    font-family: 'CenturyGothic';
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: #54a5b2;
    border: none;

    &:hover {
        background: #63adb7;
        background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#63adb7),color-stop(100%,#4a949f));
        background: -webkit-linear-gradient(top,#63adb7 0%,#4a949f 100%);
        background: linear-gradient(to bottom,#63adb7 0%,#4a949f 100%);
    }
}
.button_hide {
    margin: 10px auto 0;
    display: table;
    background-color: #54A5B2;
    height: 35px;
    color: #fff;
    padding: 0 25px;
    line-height: 35px;
    .transition();
    &._hidden {
        display: none;
    }
    &:hover {
        color: #fff;
        text-decoration: none;
        opacity: 0.7;
    }
}
.show-more-brands-wrap {
    position: relative;
    height: 40px;
    margin-top: 0;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.show-more-brands__txt {
    position: absolute;
    top: 13px;
    left: -174px;
    right: 0;
    margin: 0 auto;
    text-align: center;
    color: #999;
    &._hidden {
        display: none;
    }
}
.show-more-brands__but {
    position: absolute;
    top: 14px;
    left: 0;
    right: 0;
    margin: 0 auto; 
    width: 50px;  
    height: 50px;
    z-index: 200;
    background-color: #F1F1F1;
    border-radius: 50px;
    border: 1px #ccc solid;
    cursor: pointer;
    &:before {
        .virt_img(); 
        background-position: -776px -275px;
        width: 23px;
        height: 14px;
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }
    &._down {
        &:before {
            background-position: -776px -276px;
        }
    }
    &._up {
        &:before {
            background-position: -824px -276px;
        }
    }
}

/****** end buttons */

/* ====================================================
   reviews
======================================================= */

/****** product-tab-rev */
.product-tab-rev {
    padding: 15px;
    .box();
}
/****** clothes women */
.main-container.commodities .catalog_item .catalog_image#catalogue297 {
    background-position: -7547px -1687px;
}
.main-container.commodities .catalog_item .catalog_image#catalogue318 {
    background-position: -1998px -726px;
}
.main-container.commodities .catalog_item .catalog_image#catalogue298 {
    background-position: -1997px -252px;
}
.main-container.commodities .catalog_item .catalog_image#catalogue313 {
    background-position: -2221px -252px;
}

/****** clothes men */
.main-container.commodities .catalog_item .catalog_image#catalogue296 {
    background-position: -1110px -1929px;
}
.main-container.commodities .catalog_item .catalog_image#catalogue319 {
    background-position: -1333px -1929px;
}
.main-container.commodities .catalog_item .catalog_image#catalogue320 {
    background-position: -1553px -1929px;
}
.main-container.commodities .catalog_item .catalog_image#catalogue304 {
    background-position: -221px -965px;
}
.main-container.commodities .catalog_item .catalog_image#catalogue314 {
    background-position: -885px -489px;
}

.super_nav_1 label:before {
    background: url(../image/sprite.png) no-repeat -63px -458px;
}
.super_nav_1 input:checked+label:before {
    background: url(../image/sprite.png) no-repeat -88px -458px;
    width: 15px;
    height: 14px;
}

/****** clothes kids */
.main-container.commodities .catalog_item .catalog_image#catalogue288 {
    background-position: -3329px -1205px;
}
/****** brands */
.main-container.commodities .catalog_item .catalog_image#catalogue316 {
    background: url(../image/sprite-brand.jpg) -888px -1118px;
}
.main-container.commodities .catalog_item .catalog_image#catalogue317 {
    background: url(../image/sprite-brand.jpg) 8px -1282px;
}
.main-container.commodities .catalog_item .catalog_image#catalogue321 {
    background: url(../image/sprite-brand.jpg) -231px -1288px;
}
.main-container .main-content .brand-slider-317 {
    background-position: -176px -1082px;
}
.main-container .main-content .brand-slider-324 {
    background-position: -178px -922px;
}
.main-container .main-content .brand-slider-316 {
    background-position: 28px -1081px;
}
.main-container .main-content .brand-slider-321 {
    background-position: -897px -365px;
}
.main-container .main-content .brand-slider-325 {
    background-position: -539px -10px; 
}

.main-container .main-content .product__info__bottom .column .counter-group input {
     -webkit-appearance: none;
     -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type='number'] {
    -moz-appearance: textfield;
}

/* ====================================================
   independet block
======================================================= */
/****** main-feedback */
.main-feedback {
    width: 307px;
    float: left;
    margin-left: 30px;
    padding: 10px 18px 12px;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
}
.main-feedback__title {
    position: relative;
    padding-bottom: 26px;
    font-weight: 700;
    letter-spacing: 2.2px;
    text-align: center;
    line-height: 24px;
    font-family: "CenturyGothic";
    color: #2b2b2b;
    text-transform: uppercase;

    span {
        position: relative;
        display: inline-block;
        padding: 0 16px;
        z-index: 2;
        background-color: #f2f2f2;
    }
    &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        top: 11px;
        left: 0;
        background-color: #b8b8b8;
        z-index: 1;
    }
}
.main-feedback-inner {

}
.main-feedback-item {
    padding-top: 8px;
    &._textarea {
        height: 68px;
    }
    .btn {
        margin-left: 10px;
    }
    input.placeholder {
        color: #D6D6D6;
    }
    input:-moz-placeholder {
        color: #D6D6D6;
    }
    input::-webkit-input-placeholder {
        color: #D6D6D6;
    }
}

/* ====================================================
   adapts styles
======================================================= */
.main-container .main-content .brand-item .info__top__column:first-child .name {
  line-height: 14px!important;
}
#click-podarok,
#click-regestration {
    opacity: 0; 
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 375px;
}
header .tech-info__item .out .out__info-block .pop-title .summ {
    font-size: 13px;  
}
.insets-wrap {
    overflow: hidden;
    height: 699px;
}

/****** 1279 -> 1024 */
@media handheld, only screen and (max-width: 1240px) {
    .tech-info-wrap { 
        float: right;
    }
}
@media handheld, only screen and (max-width: 1234px) {
    header .header-bottom .top-menu ul .first-level {
        padding-left: 10px;
    }
    header .top-menu ul .first-level {
        font-size: 11px;
    }
}
@media handheld, only screen and (max-width: 1220px) {
    /****** header */
    .tech-info-wrap {
        width: 33%;
    }
    .logo-wrap-column {
        width: 25%;
    }
    header .header-bottom .logo-wrap {
        right: 0;
    }
    .main-search-column {
        width: 35%;
        position: absolute;
        right: 85px;
        left: 0;
        margin: 0 auto;
    }
    header .header-bottom .top-menu {
        right: 0;
        left: 0;
        margin: 0 auto;
        width: 348px;
    }
}
@media handheld, only screen and (max-width: 1200px) { 
    .main-search-column {
        right: 35px;
    }
}
/****** END 1279 -> 1024 */

/****** 991 -> 768 */
@media handheld, only screen and (max-width: 991px) {
    .slick-slider-comments {
        display: none
    }
}
/****** 980 -> 768 */
@media handheld, only screen and (max-width: 980px) {
    header .header-bottom .header-bottom__main .search-field {
        width: 80%;
        float: right;
    }
    header .header-bottom .tech-info {
        float: right;
        left: -16px;
    }
}
/****** 800 -> 768 */
@media handheld, only screen and (max-width: 800px) {
    .main-container .main-content #banner-slider, .main-container .main-content #comments-slider, .main-container .main-content #gift-slider {
        display: none;
    }
    .gift-slider_home {
        display: none;
    }
}
/****** 768 ->  */
@media handheld, only screen and (max-width: 768px) {
    header .header-bottom .header-bottom__main .search-field {
        width: 100%;
        float: none;
    }
    .banner-special {
        display: none;
    }
    .main-info {
        display: none;
    }
    header nav .top-nav {
        top: -5px;
        position: relative;
    }
    header .header-bottom .tech-info.row {
        float: right;
        top: -79px;
        left: 12px;
    }
    header .header-bottom .logo-wrap {
        float: left;
        top: 62px;
        margin-left: 9px;
    }
    footer .icon-pad.info-icon,
    footer .icon-pad {
        display: table;
        margin: 0 auto 10px;
    }
    header .header-bottom .top-menu ul li:nth-child(5) { 
        display: none;
    }
    header .header-bottom .top-menu ul li:nth-child(6) { 
        display: none;
    }
}//768
/****** 767 ->  */
@media handheld, only screen and (max-width: 767px) {
    .show-more-brands__txt {
        font-size: 13px;
        padding-left: 27px;
    }
}

/****** 767 ->  */
@media handheld, only screen and (max-width: 630px) {
    header nav.top-line-bg .row.main-width .col-md-2.col-sm-4.col-xs-12 .currency-wrap {
        margin-left: -68px;
    }
    header .header-bottom .tech-info.row {
        left: 20px;
    }
}

/****** 603 ->  */
@media handheld, only screen and (max-width: 603px) {
    header .header-bottom .tech-info.row {
        top: -60px;
        left: auto;
        float: none;
    }
    header .header-bottom .logo-wrap {
        float: none;
        top: inherit;
        padding-top: 9px;
    }
    header nav .top-popups {
        display: none;
    }
    header .top-line-bg .main-width .top-nav {
        display: table;
        margin: 14px auto 0;
        width: auto;
        right: 0;
    }
    header nav.top-line-bg .row.main-width .col-md-5.col-sm-7.col-xs-12 {
        width: 100%;
    }
    header .header-bottom .header-bottom__main .search-field {
        width: 87%;
        float: none;
        display: table;
        margin: 10px auto 10px;
    }
    footer .icon-pad.info-icon,
    footer .icon-pad {
        display: table;
        margin: 0 auto 10px;
    }
    .main-container .main-content .company-container .tab-content .first_cnt {
        padding: 20px 25px;
    }
    header .header-bottom .tech-info.row {
        left: 12px;
    }
}//603
/****** 320 ->  */
@media handheld, only screen and (max-width: 480px) {
    header .header-bottom .top-menu ul .first-level {
        padding-left: 0;
    }
    header .header-bottom .top-menu ul .first-level a {
        padding: 0 3px 0 13px;
    }
    header .header-bottom .header-bottom__main .search-field {
        bottom: -76px;
    }
    header .header-bottom .top-menu {
        left: -16px;
        bottom: -76px;
    }
    footer .icon-pad.info-icon,
    footer .icon-pad {
        display: block;
        margin: inherit;
    }
    header .tech-info__item .out .out__info-block {
        padding-left: 0;
    }
}
