.icon_clip_will{
							background: url(http://makewear.com.ua/templates/admin/img/soz2.png);
						    width: 20px;
						    height: 19px;
						    background-size: 281px 298px;
						    background-repeat: no-repeat;
						    background-attachment: scroll;
						    background-position: -31px -32px;
						    margin-top: 1px;
							 margin-bottom: 1px;
						}
						.icon_clip_was{
							background: url(http://makewear.com.ua/templates/admin/img/soz2.png);
						   	width: 25px;
						    height: 23px;
						    background-size: 281px 298px;
						    background-repeat: no-repeat;
						    background-attachment: scroll;
						    /*background-position: -69px -67px;*/
						    background-position: -55px -41px;
						}
						.icon_file_upload{
							background: url(http://makewear.com.ua/templates/admin/img/soz2.png);
						    width: 30px;
						    height: 42px;
						    background-size: 1025px 1222px;
						    background-repeat: no-repeat;
						    background-attachment: scroll;
						    background-position: -697px -565px;
						    float: left;
						    margin-right: 5px;
						    margin-top: -10px;
						}

						.icon_xls {
						    background: url(http://makewear.com.ua/templates/admin/img/soz2.png);
						    width: 17px;
						    height: 19px;
						    background-size: 500px 600px;
						    background-repeat: no-repeat;
						    background-attachment: scroll;
						    background-position: -311px -250px;
						}
						.icon_xls_blue {
						    background: url(http://makewear.com.ua/templates/admin/img/soz2.png);
						    width: 17px;
						    height: 20px;
						    background-size: 500px 600px;
						    background-repeat: no-repeat;
						    background-attachment: scroll;
						    background-position: -338px -251px;
						}


						.see_file{
							border: 1px solid gray;
						    margin: 3px;
						    text-align: center;
						}
						.name_file{
							border:1px solid #B7B7B7;
							 width: 300px;
						    position: absolute;
						    right: 6px;
						    top: 9px;
						    

						}
						.name_file::after, .name_file::before{
							 content: '';
						    position: absolute;
						    left: 30px;
						    top: -20px;
						    border: 10px solid transparent;
						    border-bottom: 10px solid gray;
						}
						.name_file::after{
							border-bottom: 10px solid white;
						   top: -19px;
						}

						.name_file2{
						    border:1px solid #B7B7B7;
						    width: 300px;
						    /*position: absolute;*/
						    right: 6px;
						    top: 9px;
						    

						}
						.name_file2::after, .name_file2::before{
						     content: '';
						    position: absolute;
						    left: 30px;
						    top: -20px;
						    border: 10px solid transparent;
						    border-bottom: 10px solid gray;
						}
						.name_file2::after{
						    border-bottom: 10px solid white;
						   top: -19px;
						}
							
						.show_file{
							 border: 2px solid #203775;
						    margin-left: auto;
						    margin-right: auto;
						    background: white;
						    /*width: 615px;	*/
						    position: relative;
						    display: inline-block;
						}
						/*.any_file{
							
						    cursor: pointer;
						    position: relative;
						    margin: 20px;
						    width: 137px;
						    font-size: 13px;
						    font-weight: bold;
						    padding: 6px;
						    color: #464646;
						}*/
						.any_file{
	
						    cursor: pointer;
						    position: relative;
						    margin: 20px;
						    margin-bottom: 2px;
						    width: 137px;
						    font-size: 13px;
						    font-weight: bold;
						    padding: 6px;
						    color: #464646;
						}
						.delete_file{
						    color: red;
						    font-size: 15px;
						    font-weight: bold;
						    margin-bottom: 8px;
						    text-align: left;
						    padding-left: 25px;
						    cursor: pointer;
						}
						.delete_file i{
						    padding-right: 4px;
						}
						/*.kyt_up{
							 border-bottom: 9px solid blue;
						    border-left: 9px solid transparent;
						    border-right: 9px solid transparent;
						    right: 99px;
						    position: absolute;
						    top: 2px;
						    z-index: 1;
						}*/
						.any_file .upload{
							 position: absolute;
						    top: 0;
						    left: 0;
						    width: 111px;
						    height: 40px;
						    cursor: pointer;
						    opacity: 0;
						}
						.body_upload{
							 position: fixed;
						    width: 100%;
						    height: 100%;
						    background: rgba(58, 58, 58, 0.42);
						    z-index: 5;
						    top: 0;
						    left: 0;
						    display: table;
						}
						.bbb2{
							display: table-cell;
							vertical-align: middle;
							text-align: center;
						}
						#uupp{
							background: gray;
							padding: 2px;
						   margin-left: 40px;
						   margin-right: 40px;	
						   cursor: pointer;
						   position: relative;
						   overflow: hidden;
						}
						#uupp .upload{
							position: absolute;
							top: 0px;
							right: 0px;
							width: 100%;
							left: 0px;
							height: 100%;
							opacity: 0;
							cursor: pointer;
						}
						#uupp div{
							background: gray;
						   	text-align: center;
						   	border: 2px solid white;
						   	padding: 16px;
						   	font-size: 14px;
						   	color: white;
						}
						.wind_upload{	
							width: 350px;
						  	border: 2px solid #203775;
						    margin: 50px auto;
						   	background: white;
						   	position: relative;
						}
						.close_upload{
							position: absolute;
							right: -26px;

						}
						.wind_upload div:nth-child(2){
							font-size: 15px;
						    font-weight: bold;
						    width: 100%;
						    text-align: center;
						    color: #203775;
						    margin-top: 10px;
						}
						/*.wind_upload div:nth-child(3){
							text-align: center;
						    font-weight: bold;
						    background: #ECECEC;
						    margin: 12px;
						    padding: 3px;
						}*/
						.wind_upload div:last-child{
							color: #656565;
						    background: #ECECEC;
						    margin: 9px;
						    padding: 5px;
						}

						.wind_upload .names{
						    text-align: center;
						    font-weight: bold;
						    background: #ECECEC;
						    margin: 12px;
						    padding: 3px;
						}
/*For mail*/
				#xls{
					color:white;
					
				}
				.pay{
					background: #355177;
					padding: 5px;
					color: white;				
				}
				#pay_body{
					position: fixed;
					top:0;
					left: 0;
					width: 100%;
					height: 100%;
					/*margin-left: -180px;
					margin-top: -73px;*/
					background: rgba(0, 0, 0, 0.61);
					z-index: 5;
					overflow: auto;
				}
				#pay_mail{
					background: white none repeat scroll 0% 0%;
					width: 850px;
					margin: 15px auto;
					position: relative;
				}
				.html_mail{
					margin: 8px;
					padding: 3px;
				}
				label{
					display:inline-block;
					width: 50px;
					margin-left: 8px;
				}
				.in_text{width:500px}
				.sent_order {
				    position: absolute;
				    background: #0078FF;
				    color: white;
				    font-size: 16px;
				    font-weight: bold;
				    padding: 7px;
				    padding-left: 30px;
				    padding-right: 30px;
				    border-radius: 3px;
				    cursor: pointer;
				    bottom: 10px;
				    right: 20px;
				}
				.pay_close2{
				    position: absolute;
				    left: 25px;
				    bottom: 10px;
				    padding: 5px;
				}

				.allActsia{
					background: white;
				    display: inline-block;
				    padding: 0px 10px;
				    padding-top: 8px;
				    margin-top: 30px;
				    margin-bottom: 10px;
				    
				}
				.allActsiaName{
					font-weight: bold;
    				color: #6868CC;
    				padding-bottom: 5px;
				}

.searchSOZ{
	border: 1px solid gray;
    margin: 5px;
    background: #EFEFEF;
    padding: 0px 15px;
    padding-top: 5px;
}				
.searchSOZ select{
	height: 23px;
}
.readSearch{
	border: 1px solid #B9B9B9;
    background: white;
    position: absolute;
    top: 22px;
    width: 134px;
}