
#files {margin:2em 0 5em; width:100%; }
.tree { font-size:1.5em; }
.tree,.tree ul,.tree li { list-style:none;  zoom: 1; }
.tree ul { margin-left:8px; }
.tree li a { font-size:16px;color:#555; padding:.1em 7px .1em 27px; display:block; text-decoration:none; border:0px solid #fff; margin:1px;background:url(../images/icon-file.gif) 5px 50% no-repeat; }
.tree li a.tree-parent { background:url(../images/icon-folder-open.gif) 5px 50% no-repeat; }
.tree li a.tree-parent-collapsed { background:url(../images/icon-folder.gif) 5px 50% no-repeat; }
.tree li a:hover,.tree li a.tree-parent:hover,.tree li a:focus,.tree li a.tree-parent:focus,.tree li a.tree-item-active {  margin:0px;color:#000; border:1px solid#eee; background-color:#fafafa; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; }
.tree li a:focus,.tree li a.tree-parent:focus,.tree li a.tree-item-active { border:1px solid #e2f3fb; background-color:#f2fafd; margin:0px; }
.tree ul.tree-group-collapsed { display:none; }

.tree li  img { display:none; }
.tree li:hover  img { display:block;line-height:10px;margin-left:20px;font-size:13px;float:right;cursor:pointer }
.tree li:hover ul li img { display:none; }
.tree li:hover ul li:hover img { display:block; }