<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 <system.webServer>
 <rewrite>
  <rules>
    <rule name="Rule if url hasn't www'" stopProcessing="true">
      <match url="^(.*)$" ignoreCase="false" />
      <conditions>
        <add input="{HTTP_HOST}" pattern="^www\."/>
      </conditions>
      <action type="Redirect" redirectType="Permanent" url="http://makewear.com.ua/{R:0}" />
    </rule>

    <!-- redirect for broken links -->
    <rule name="Rule pr to product" stopProcessing="true">
      <match url="pr([0-9]+)" ignoreCase="false" />
      <action type="Redirect" redirectType="Permanent" url="http://makewear.com.ua/product/{R:1}/.html" />
    </rule>
     <rule name="Rule old catalogue" stopProcessing="true">
              <match url="^catalog/([a-z-]+)$" ignoreCase="false" />
              <action type="Redirect" redirectType="Permanent" url="http://makewear.com.ua" />
            </rule>
    <!-- end redirect for broken links -->

    <rule name="Rule images" stopProcessing="true">
      <match url="^([0-9]+)stitle2/(.*)\.jpg$" ignoreCase="false" />
      <action type="Rewrite" url="/images/commodities/{R:1}/s_title2.jpg" appendQueryString="true" />
    </rule>
    <rule name="Rule images1" stopProcessing="true">
      <match url="^([0-9]+)btitle2/(.*)\.jpg$" ignoreCase="false" />
      <action type="Rewrite" url="/images/commodities/{R:1}/title2.jpg" appendQueryString="true" />
    </rule>
    <rule name="Rule images2" stopProcessing="true">
      <match url="^([0-9]+)stitle/(.*)\.jpg$" ignoreCase="false" />
      <action type="Rewrite" url="/images/commodities/{R:1}/s_title.jpg" appendQueryString="true" />
    </rule>
    <rule name="Rule images3" stopProcessing="true">
      <match url="^([0-9]+)btitle/(.*)\.jpg$" ignoreCase="false" />
      <action type="Rewrite" url="/images/commodities/{R:1}/title.jpg" appendQueryString="true" />
    </rule>
    <rule name="Rule images4" stopProcessing="true">
      <match url="^([0-9]+)simg/(.*)\.jpg$" ignoreCase="false" />
      <action type="Rewrite" url="/images/articles/{R:1}/s_title.jpg" appendQueryString="true" />
    </rule>
    <rule name="Rule images5" stopProcessing="true">
      <match url="^([0-9]+)bimg/(.*)\.jpg$" ignoreCase="false" />
      <action type="Rewrite" url="/images/articles/{R:1}/title.jpg" appendQueryString="true" />
    </rule>
    <rule name="Rule cmsadmin" stopProcessing="true">
      <match url="^cmsadmin$" ignoreCase="false" />
      <action type="Rewrite" url="/index.php?admin=start" appendQueryString="true" />
    </rule>
    <rule name="Rule cmsadmin/" stopProcessing="true">
      <match url="^cmsadmin/$" ignoreCase="false" />
      <action type="Rewrite" url="/index.php?admin=start" appendQueryString="true" />
    </rule>
    <rule name="Rus" stopProcessing="true">
      <match url="rus/$" ignoreCase="false" />
      <action type="Rewrite" url="/index.php?sel_lang=1" appendQueryString="true" />
    </rule>
    <rule name="Eng" stopProcessing="true">
      <match url="eng/$" ignoreCase="false" />
      <action type="Rewrite" url="/index.php?sel_lang=2" appendQueryString="true" />
    </rule>
    <rule name="Ukr" stopProcessing="true">
      <match url="ukr/$" ignoreCase="false" />
      <action type="Rewrite" url="/index.php?sel_lang=3" appendQueryString="true" />
    </rule>
    <!--
    <rule name="Rule 2" stopProcessing="true">
      <match url="^(.*)$" ignoreCase="false" />
      <conditions>
        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
        <add input="{URL}" pattern="\..{1,10}$" ignoreCase="false" negate="true" />
        <add input="{URL}" pattern="(.*)/$" ignoreCase="false" negate="true" />
      </conditions>
      <action type="Rewrite" url="/{R:1}/" appendQueryString="true" />
    </rule>-->
    <rule name="Rule cabinet page" stopProcessing="true">
              <match url="^myaccount/([a-z-]+)/$" ignoreCase="false" />
              <action type="Rewrite" url="/index.php?url=myaccount&amp;parameter={R:1}" appendQueryString="true" />
    </rule>
    <rule name="Rule onsubscribe" stopProcessing="true">
          <match url="^unsubscribe/([0-9]+)$" ignoreCase="false" />
          <action type="Rewrite" url="/index.php?url=unsubscribe&amp;id={R:1}" appendQueryString="true" />
    </rule>
    <rule name="Rule for categories and other" stopProcessing="true">
      <match url="^(.*)/$" ignoreCase="false" />
      <action type="Rewrite" url="/index.php?url={R:1}" appendQueryString="true" />
    </rule>
    <rule name="Rule product page" stopProcessing="true">
      <match url="^product/([0-9]+)/(.*)\.html$" ignoreCase="false" />
      <action type="Rewrite" url="/index.php?url=product&amp;id={R:1}" appendQueryString="true" />
    </rule>
    <rule name="Rule url parameter" stopProcessing="true">
          <match url="^([a-z-]+)/([a-z-]+)$" ignoreCase="false" />
          <action type="Rewrite" url="/index.php?url={R:1}&amp;parameter={R:2}" appendQueryString="true" />
    </rule>
    <rule name="Rule url page parameter" stopProcessing="true">
              <match url="^([a-z-]+)/([a-z-]+)/page/([0-9=]+)" ignoreCase="false" />
              <action type="Rewrite" url="/index.php?url={R:1}&amp;parameter={R:2}&amp;page={R:3}" appendQueryString="true" />
    </rule>
        <rule name="Rule prices yml" stopProcessing="true">
                  <match url="^prices/([a-z-.]+)?$" ignoreCase="false" />
                  <action type="Rewrite" url="/index.php?url=prices&amp;parameter={R:1}" appendQueryString="true" />
        </rule>
    <rule name="Rule url page html" stopProcessing="true">
      <match url="^([a-z-]+)/([a-z-]+)\.html$" ignoreCase="false" />
      <action type="Rewrite" url="/index.php?url={R:1}&amp;parameter={R:2}" appendQueryString="true" />
    </rule>
    <rule name="Rule 2" stopProcessing="true">
      <match url="^(.+)$" ignoreCase="false" />
      <conditions>
        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
      </conditions>
      <action type="Rewrite" url="/index.php?url={R:0}" appendQueryString="true" />
    </rule>
  </rules>
</rewrite>
  <!--<caching>
            <profiles>
                <add extension=".php" policy="DisableCache" kernelCachePolicy="DisableCache" />
                <add extension=".html" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="12:00:00" />
                <add extension=".js" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="7:00:00:00" />
                <add extension=".css" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="7:00:00:00" />
                <add extension=".txt" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="7:00:00:00" />
                <add extension=".jpeg" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="12:00:00:00" />
                <add extension=".png" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="12:00:00:00" />
                <add extension=".jpg" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="12:00:00:00" />
                <add extension=".gif" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="12:00:00:00" />
                <add extension=".ico" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="12:00:00:00" />
            </profiles>
  </caching>-->
  <staticContent>
    <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
    <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
            <mimeMap fileExtension=".ttf" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
            <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
            <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
  </staticContent>
  <defaultDocument>
            <files>
                <remove value="index.php" />
                <add value="index.php" />
            </files>
  </defaultDocument>
  <directoryBrowse enabled="false" />
 </system.webServer>
</configuration>
